<div clas="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3 center">Listado de empleados</span>
              <table class= "table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Bryan</td>
                    <td>Luis</td>
                    <td>1015466494</td>
                    <td>1'800.000</td>
                    <td>
                        <i class="fas fa-user-edit fa-lg text-info mr-5"></i>
                        <i class="fas fa-user-minus fa-lg text-danger md-2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Bryan</td>
                    <td>Luis</td>
                    <td>1015466494</td>
                    <td>1'800.000</td>
                    <td>
                        <i class="fas fa-user-edit fa-lg text-info mr-5"></i>
                        <i class="fas fa-user-minus fa-lg text-danger md-2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Bryan</td>
                    <td>Luis</td>
                    <td>1015466494</td>
                    <td>1'800.000</td>
                    <td>
                        <i class="fas fa-user-edit fa-lg text-info mr-5"></i>
                        <i class="fas fa-user-minus fa-lg text-danger md-2"></i>
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button">Agregar</button>
              </div>
        </div>
    </div>
  </div>