<div clas="container mt-4">
  <div class="card text-center" >
    <div class="card-body">
            <h3>Listado de empleados</h3>
              <table class= "table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items | async">
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.documento}}</td>
                    <td>{{item.salario}}</td>
                    <td>
                        <i class="fas fa-user-edit fa-lg text-info mr-5"></i>
                        <i class="fas fa-user-minus fa-lg text-danger md-2"></i>
                    </td>
                  </tr>
                              
                 
                </tbody>
              </table>
              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" routerLink="/crearEmpleados">Agregar</button>
              </div>
                     </div>
    </div>
  </div>